.pengaturan{
    font-size: 20px;
	background: rgb(67, 67, 255);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
    margin: 15px;
    
}
.tanggal {
	font-size: 40px;
	background: -webkit-linear-gradient(#2b32b2, #1488cc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
    margin: 10px 90px 15px -190px;
}
#clock {
	font-size: 40px;
	background: -webkit-linear-gradient(#2b32b2, #1488cc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
    margin: -68px 100px 15px 390px;
}

* {
	margin: 0;
	padding: 0;
	font-family:'Segoe UI';
}
body {
	display: grid;
	place-items: center;
}

.bannerled{
    background-color:rgb(26, 108, 233);
    width: 325px;
    height: 155px;
    margin: 20px 50px 45px 50px;
    border-style: solid;
    border-color:#ffff;
    border-radius: 7px;
    
    
}
.font {
    font-size: 100px;
    font-family: 'Segoe UI';
    color: rgb(194, 93, 93);
    margin-top: 2px;
    
}


